In [ ]:
import pytest
pytest.skip('This notebook documents how the demo data was prepared.')

In [1]:
import pandas as pd

In [4]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip'
zip_file_name = 'Bike-Sharing-Dataset.zip'
csv_file = 'day.csv'

In [5]:
# load data file from zip archive on UCI ML 
# hack based on <https://stackoverflow.com/a/67298378/1140589>
import zipfile
from urllib.request import urlopen
import shutil
import os

# extracting zipfile from URL
with urlopen(url) as response, open(zip_file_name, 'wb') as out_file:
    shutil.copyfileobj(response, out_file)

    # extracting required file from zipfile
    with zipfile.ZipFile(zip_file_name) as zf:
        zf.extract(csv_file)

# deleting the zipfile from the directory
os.remove(zip_file_name)

In [6]:
# loading data from the file
daily = pd.read_csv(csv_file)
daily.head(3)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349

In [7]:
daily2 = daily.copy()
daily2['temp 째C'] = daily['temp'] * (39 + 8) - 8
daily2['atemp 째C'] = daily['atemp'] * (50 + 16) - 16
daily2['windspeed'] = daily['windspeed'] * 67
daily2['hum %'] = daily['hum'] * 100
daily2['year'] = daily['yr'] + 2011

In [8]:
# daily2['windspeed'] = daily['windspeed'] * 67
daily2.loc[daily['weathersit'] == 1, 'weathersit'] = 'Clear, Few clouds, Partly cloudy, Partly cloudy'
daily2.loc[daily['weathersit'] == 2, 'weathersit'] = 'Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist'
daily2.loc[daily['weathersit'] == 3, 'weathersit'] = 'Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds'
daily2.loc[daily['weathersit'] == 4, 'weathersit'] = 'Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog'

In [9]:
daily2.loc[daily['season'] == 1, 'season'] = 'winter'
daily2.loc[daily['season'] == 2, 'season'] = 'spring'
daily2.loc[daily['season'] == 3, 'season'] = 'summer'
daily2.loc[daily['season'] == 4, 'season'] = 'fall'

In [10]:
daily2.loc[daily['weekday'] == 0, 'weekday'] = 'Sunday'
daily2.loc[daily['weekday'] == 1, 'weekday'] = 'Monday'
daily2.loc[daily['weekday'] == 2, 'weekday'] = 'Tuesday'
daily2.loc[daily['weekday'] == 3, 'weekday'] = 'Wednesday'
daily2.loc[daily['weekday'] == 4, 'weekday'] = 'Thursday'
daily2.loc[daily['weekday'] == 5, 'weekday'] = 'Friday'
daily2.loc[daily['weekday'] == 6, 'weekday'] = 'Saturday'

In [16]:
daily2 = daily2.drop(['temp', 'atemp', 'hum', 'yr'], axis=1)

In [17]:
daily2.head(10)

,instant,dteday,season,mnth,holiday,weekday,workingday,weathersit,windspeed,casual,registered,cnt,temp 째C,atemp 째C,hum %,year
0,1,2011-01-01,winter,1,0,Saturday,0,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",10.749882,331,654,985,8.175849,7.999250,80.5833,2011
1,2,2011-01-02,winter,1,0,Sunday,0,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",16.652113,131,670,801,9.083466,7.346774,69.6087,2011
2,3,2011-01-03,winter,1,0,Monday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",16.636703,120,1229,1349,1.229108,-3.499270,43.7273,2011
3,4,2011-01-04,winter,1,0,Tuesday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",10.739832,108,1454,1562,1.400000,-1.999948,59.0435,2011
4,5,2011-01-05,winter,1,0,Wednesday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",12.522300,82,1518,1600,2.666979,-0.868180,43.6957,2011
5,6,2011-01-06,winter,1,0,Thursday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",6.000868,88,1518,1606,1.604356,-0.608206,51.8261,2011
6,7,2011-01-07,winter,1,0,Friday,1,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",11.304642,148,1362,1510,1.236534,-2.216626,49.8696,2011
7,8,2011-01-08,winter,1,0,Saturday,0,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",17.875868,68,891,959,-0.245000,-5.291236,53.5833,2011
8,9,2011-01-09,winter,1,0,Sunday,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",24.250650,54,768,822,-1.498349,-8.332450,43.4167,2011
9,10,2011-01-10,winter,1,0,Monday,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",14.958889,41,1280,1321,-0.910849,-6.041392,48.2917,2011

In [18]:
daily2.to_csv('bike_day_semantic.csv', index=False)